
.floating-button {
  position: absolute;
  right: 2em;
  bottom: 2em;
  color: #fff;
}

.mat-drawer {
  width: 340px !important;
}

.mat-drawer-content {
  margin-left: 340px !important;
}

.floating-button {
  bottom: 4em;
}

.centered {
  height: 75vh;
}

.copyright {
  font-size: 0.75em;
  position: absolute;
  right: 36%;
  bottom: 30px;
  color:dimgray;
  pointer-events: none;
}

.nrwl {
  position: absolute;
  left: 45%;
  top: 33%;
}

.nrwl circle {
  stroke: #48c4e5 !important;
}

